[user]
	email = tomoya113.code@gmail.com
	name = txxxxc
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	filemode = true
	ignorecase = false
[init]
	defaultBranch = master
[commit] verbose = true
[alias]
	st = status

[pull]
	rebase = true

[merge]
	tool = vimdiff

[mergetool]
	keepBackup = false
    
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[branch]
	sort = -authordate
