.git
.zsh-history
.vim/sessions/default.vim

# fish
fishd.*
fish_history
fish_variables
config.local.fish

# シンボリックリンクが地獄すぎていっぱいfishが生えてるのでignore
# いい感じに設定変えてから消したい
.config/fish

# ちょっと怖いけど多分いらない
fish/functions/_*

# .vim
.vim/.netrwhist

.config/*

!.config/nvim
!.config/
