[user]
	email = tomoya113.code@gmail.com
	name = Tomoya Tanaka
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	filemode = true
	ignorecase = false
[init]
	defaultBranch = master
[commit] verbose = true
[ghq]
	root = /Users/tomoya_tanaka/projects
[alias]
	st = status

